* {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.text-center {
    text-align: center;
}
.pagination  button {
    margin:40px 10px;
}
a {
    text-decoration: none;
}
.details-text {
    cursor: default;
}
.btn-search {
    height: 56px;
    position: relative;
    left: 2px;
}
.text-right{
    text-align: right;
}
.mb-5 {
    margin-bottom: 25px;
}